.invite-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.invite-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #d4e9d6;
    border-radius: 30px;
    padding: 10px;
    width: 90%;
    margin-left: 7px;
    margin-bottom: 20px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.1);
}

.invite-info {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}

.room-name {
    font-size: 24px;
    font-weight: 800;
    color: #08313F;
    margin-bottom: 10px;
}

.member-count {
    font-size: 16px;
    font-weight: 550;
    color: black;
    margin-top: 0;
}

.invite-buttons {
    display: flex; /* ✅ 추가 */
    flex-direction: column;
    align-items: center; /* 버튼을 가운데 정렬 */
    width: 40%; /* 버튼 컨테이너 너비 조정 */
}

.accept-btn {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background: #d4e9d6;
    color: #08313F;
    border: solid #d4e9d6;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.accept-btn:hover {
    color: white;
    border: solid #08313F;
    background-color: #08313F;
}

.reject-btn {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    background: #08313F;
    color: white;
    border: solid #08313F;
    border-radius: 25px;
    cursor: pointer;
}

.reject-btn:hover {
    background-color: white;
    color: #08313F;
}

.no-invites {
    font-size: 25px;
    font-weight:540;
    color: #08313F;
    text-align: center;
}