.signup-container {
  overflow-y: auto;
  max-height: 100vh;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

input[type="url"] {
  width: 464px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #868686;
  background-color: #F9F9F9;
}

.signup {
  margin-top: 50px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: #08313F;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #868686;
  background-color: #F9F9F9;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}

.input-group input {
  flex-grow: 1;
}

.input-group button {
  flex-shrink: 0;
  width: 120px;
  padding: 10px;
  height: 40px;
  margin-top: 0;
}

.bank-name-input {
  width: 50px;
}

.account-number-input {
  width: 250px;
}

.bank-accounts-container {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 10px;
}

.bank-input-group {
  margin-bottom: -15px;
}

.send-code-btn {
  color: white;
  background-color: #08313F;
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.send-code-btn:hover {
  color: #08313F;
  background-color: white;
}

.verify-code-btn {
  background-color: #F9F9F9;
  color: #08313F;
  border: 1px solid #08313F;
  border-radius: 8px;
  padding: 10px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}

.verify-code-btn:hover {
  background-color: #D5EDD2;
  color: black;
}

.add-account-btn {
  padding: 10px;
  display: block;
  background-color: #F9F9F9;
  color: #868686;
  width: 100%;
  border: dashed #868686;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
}

.add-account-btn:hover {
  background-color: #D5EDD2;
  color: black;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.file-upload-label .material-symbols-outlined {
  font-size: 35px; /* 아이콘의 크기 조정 */
  color: #08313F;
  cursor: pointer;
}



.profile-image-preview {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 10px auto;
  margin-bottom: 50px;
}

input[type="file"] {
  display: none;
}

.sign-btn {
  width: 50%;
  padding: 10px;
  background-color: #08313F;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.sign-btn:hover {
  background-color: black;
}