/* mobile-container 스타일 */
.sign-container .mobile-container {
  display: flex;
  justify-content: center;  /* 가로 중앙 정렬 */
  align-items: center;      /* 세로 중앙 정렬 */
  overflow: hidden;         /* 페이지 전체 스크롤 숨기기 */
  width: 100vw;
  height: 100vh;
}

/* signpage 스타일 */
.signpage {
  width: 90%;
  max-width: 500px;          /* 폼의 최대 너비 설정 */
  padding: 20px;
  border-radius: 8px;        /* 둥근 모서리 */
  max-height: 90vh;          /* 화면의 90% 높이를 차지 */
  overflow-y: auto;          /* 세로 스크롤 활성화 */
  overflow-x: hidden;        /* 가로 스크롤 비활성화 */
}

/* 모든 input 요소의 스타일 */
input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #868686;
  background-color: #F9F9F9;
  box-sizing: border-box; /* padding이 width에 포함되도록 설정 */
}

/* 특정 input 스타일 */
input[type="url"] {
  width: 100%;
}

.signup {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  color: #08313F;
}

.form-label {
  margin-top: 30px;
}

/* input-group 스타일 */
.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 0;
}

/* input-group 내부 input 요소 통일 */
.input-group input {
  flex-grow: 1;
  border-radius: 8px !important;
}

/* 버튼이 있는 경우에도 border-radius 통일 */
.input-group button {
  flex-shrink: 0;
  width: 100px;
  padding: 10px;
  height: 40px;
  margin-top: 0;
  border-radius: 8px; 
}

/* 은행명 & 계좌번호 입력 */
.bank-name-input {
  width: 75px;
}

.account-number-input {
  width: 300px;
}

.bank-accounts-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

/* 인증번호 전송 버튼 */
.send-code-btn {
  color: white;
  background-color: #08313F;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.send-code-btn:hover {
  color: #08313F;
  background-color: white;
}

/* 인증 확인 버튼 */
.verify-code-btn {
  background-color: #F9F9F9;
  color: #08313F;
  border: 1px solid #08313F;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

.verify-code-btn:hover {
  background-color: #D5EDD2;
  color: black;
}

/* 계좌 추가 버튼 */
.add-account-btn {
  width: 100%;
  padding: 10px;
  display: block;
  background-color: #F9F9F9;
  color: #868686;
  border: dashed #868686;
  border-width: 1px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 5px;
}

.add-account-btn:hover {
  background-color: #D5EDD2;
  color: black;
}

/* 에러 메시지 */
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

/* 파일 업로드 */
.file-upload {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.file-upload-label .material-symbols-outlined {
  font-size: 35px; /* 아이콘의 크기 조정 */
  color: #08313F;
  cursor: pointer;
}

/* 프로필 이미지 미리보기 */
.profile-image-preview {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ccc;
  margin: 10px auto;
  margin-bottom: 50px;
}

input[type="file"] {
  display: none;
}

/* 회원가입 버튼 */
.sign-btn {
  width: 50%;
  padding: 10px;
  background-color: #08313F;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
}

.sign-btn:hover {
  background-color: black;
}
